{% extends 'base.html' %}

{% block title %}Enter{% endblock %}

{% block content %}
    <div style="text-align: center; border: 1px solid gray; position: absolute; width: 40%; padding: 5%; left: 20%; right: 20%; margin-top: 5%;">
        <h1 style="font-weight: lighter; margin-top: 40px;">Login</h1>
        <form method="POST">
            {% csrf_token %}
            <input style="width: 100%; margin-top: 40px;" type="text" name="username" placeholder="Username"><br>
            <input style="width: 100%; margin-top: 40px;" type="password" name="password" placeholder="Password"><br>
            <div style="text-align: end;">
                <button type="submit" style="align-self: end; margin-top: 40px; margin-bottom: 40px;" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
{% endblock %}